
body{
    font-family: 'Montserrat', sans-serif !important;
}
header{
    background-color: white;
    margin-bottom: 10px;
    border-top: 10px solid black;
}

.logo p{
    margin-left: 20px;
}
.logo a{
    text-decoration: none;
}

.content-bag{
    background-color: rgb(192, 94, 94);
}

.content-bag .account,
button.signin{
    border-radius: 0;
}

.nav-item a:hover,
.nav-item a:active{
    font-weight: 600;
}

button.shop-women-dior{
    background-image: url(../../assets/picture/women.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    border-radius: 0;
    width: 100%;
    height: 80vh;
    font-size: 25px;
    transition: all 0.5s ease;
} 

button.shop-men-dior{
    background-image: url(../../assets/picture/men.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    border-radius: 0;
    width: 100%;
    height: 80vh;
    font-size: 25px;
    transition: all 0.5s ease;
    
   
}
.box{
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}


.shop-men-dior:hover,
.shop-women-dior:hover{
   transform: scale(1.15);}


.eye_open,
.eye_close{
    position: absolute;
    right: -25px;
    top: 45px;
}

footer{
    background-color: black;
    color: #f1f1f1;
    padding: 5% 0;
}

footer h5{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10%;
}

footer p{
    font-size: 14px;
    color: gray;
}

footer a{
    color: gray;
    padding-right: 2%;
    font-size: 20px;
}

.backtop{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #bbb8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 40px;
    right: 20px;
    position: fixed;
    color: black;
}
